body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

p {
    color: #0b0b0b;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 30px;
    font-style: normal;
    font-weight: 300;
    margin: 0;
}

.errors {
    color: red;
}

.form-intro h2 {
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 0;
    margin: 0;
}

.header-wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url("../images/kleinhandel-pol3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-wrap:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left:0;
    top: 0;
    z-index: 3;
}

#container {
    width: 100%;
}

.header {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateX(-50%) translateY(-150%);
    left: 50%;
    text-align: center;
}

.intro {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    color: rgb(96, 83, 83);
    font-family: Poppins, sans-serif;
    letter-spacing: 10px;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.outro {
    font-size: 26px;
    line-height: 22px;
    font-weight: 800;
    color: rgb(107, 107, 107);
    letter-spacing: 0px;
    font-family: "Open Sans", sans-serif;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo img {
    max-width: 200px;
    height: auto;
}

.information-wrap {
    width: 1200px;
    margin: 0 auto;
    margin-top: -350px;
    background-color: rgba(255, 255, 255, .35);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.information {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;
}

.information p {
    text-align: center;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #ff0000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left-info, .right-info {
    width: 48.5%;
    padding-top: 45px;
    display: inline-block;
    vertical-align: top;
}

.right-info {
    float: right;
}

.left-info p, .right-info p {
    text-align: left;
}

.bold {
    font-weight: 600;
}

.form-wrap {
    width: 1200px;
    margin: 0 auto;
    background-color: red;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button input {
    height: 36px;
    line-height: 32px;
    font-size: 12px;
    padding: 0 17px;
    color: #ffffff;
    background-color: #dd0000;
    font-family: 'Rubik', sans-serif;
    border-color: #f85434;
    font-style: normal;
    font-weight: 700;
    -webkit-border-radius: 2px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    border-width: 3px;
    margin: 0;
    transition: all ease-in-out 0.1s;
}

.button {
    width: 15% !important;
    margin-bottom: 0 !important;
}

.button input:hover {
    cursor: pointer;
    border-color: #f7755b;
    transition: all ease-in-out 0.1s;
}

.form {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 45px;
    padding-top: 45px;
}

input {
    outline: none;
    margin-top: 10px;
    background-color: #f7f8f9;
    border-color: #dbddde;
    border-width: 1px;
    border-style: solid;
    color: #a0a2a6;
    padding-top: 11px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    width: 95%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    transition: all .1s ease-in-out;
}

input:focus {
    border-color: black;
    color: black;
    transition: all .1s ease-in-out;
}

.timestamp select {
    outline: none;
    margin-top: 10px;
    background-color: #f7f8f9;
    border-color: #dbddde;
    border-width: 1px;
    border-style: solid;
    color: #a0a2a6;
    padding-top: 11px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    transition: all .1s ease-in-out;
}

.timestamp select:focus {
    border-color: black;
    color: black;
    transition: all .1s ease-in-out;
}

select {
    min-height: 44px !important;
}

.agreed {
    width: 45%;
    margin-bottom: 25px;
}

.info-agreed {
    font-size: 16px;
    line-height: 20px;
}

.inner-agreed {
    width: auto;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    min-width: 0;
}

.left, .right {
    width: 45%;
    vertical-align: top;
    margin-bottom: 25px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.login-wrap {
    width: 100%;
    margin-top: -350px;
    position: absolute;
    z-index: 99999;
}

.login-wrap .button {
    margin-bottom: 20px !important;
}

.inner-login-wrap {
    background-color: rgba(255, 255, 255, .35);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 1200px;
    margin: 0 auto;
    height: 350px;
}

.list {
    height: 100% !important;
}

.form-intro .micro {
    font-size: 16px;
    margin-bottom: 30px;
}

.form-intro .micro a {
    color: black;
}

.form-intro a {
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.form-intro a:visited {
    color: black;
    text-decoration: none;
}

.form-intro a:hover {
    text-decoration: underline;
    color: #ff0000;
    transition: all .3s ease-in-out;
}

.form table {
    width: 100%;
}

.form thead th {
    background-color: #f7f8f9;
    border-color: #dbddde;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form tbody td {
    text-align: left;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.form tbody tr:nth-child(even) {
    background-color: #d8d8d8;
}

.form tbody a {
    color: black;
    transition: all .3s ease-in-out;
}

.form tbody a:hover {
    color: #ff0000;
    transition: all .3s ease-in-out;
}

.form tbody .button {
    text-decoration: none;
    height: 36px;
    line-height: 32px;
    font-size: 12px;
    padding: 0 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #ffffff;
    background-color: #dd0000;
    font-family: 'Rubik', sans-serif;
    border-color: #f85434;
    font-style: normal;
    font-weight: 700;
    -webkit-border-radius: 2px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    border-width: 3px;
    margin: 0 auto;
    transition: all ease-in-out 0.3s;
}

.form tbody .button:hover {
    color: black;
    transition: all ease-in-out 0.3s;
}